* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:  #1a1a1c;
}

.container {
    max-width: 1440px;
    margin: auto;
    padding: 0 30px;
}


@import 'base/variables';


@import 'libs/fonts';

@import 'blocks/header';
@import 'blocks/main';
@import 'blocks/btn';
@import 'blocks/title';
@import 'blocks/_little-menu';
@import 'blocks/little-decor';
@import 'blocks/services';
@import 'blocks/reservation';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/menu';
@import 'blocks/contact';
@import 'blocks/service';
@import 'blocks/about';
@import 'blocks/_interior';
@import 'blocks/workers';
@import 'blocks/question';
@import 'blocks/hamburger';
@import 'base/media';
