.header {
    background: #131315;
    height: 77px;
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__menu {
       display: flex; 
       justify-content: space-between;
    }
    &__item {
        list-style-type: none;
        margin-left: 169px;
        &:nth-child(2) {
            margin-left: 133px; 
        } 
        &:nth-child(1) {
            margin-left: 0;
        }        
    }
    &__logo {
        background: #131315;
    }
    &__link {
        font-family: 'CormorantGaramondRegular', serif;
        font-size: 30px;
        line-height: 36px;
        text-decoration: none;
        color: $main-color;
        transition: 0.5s all;
        &_active {
            color: #EBEBEB;
        }
        &:hover {
            text-shadow: 3px 3px 20px #FFF;
        }
    }
    &__social {
        display: flex;
        align-items: center;
        margin-top: 5px;
    }
    &__social-link {
        margin-right: 18px;
        &:last-child {
            margin-right: 0;
        }
    }
    
}