.title {
    font-size: 56px;
    line-height: 78px;
    font-weight: normal;
    font-family: 'CormorantInfantRegular', serif;
    color: $heading-color;
}
.title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    text-decoration: none;
    border-bottom: 1px solid #fff;
    font-size: 20px;
    line-height: 24px;
    color: #EBEBEB;
    font-family: 'CormorantGaramondRegular';
    &:hover {
        color: $text-color;
        border-bottom: 1px solid $text-color;
    }
    img {
        display: block;
        margin-left: 17px;
    }
}

.big-text {
    margin-top: 156px;
    position: absolute;
    width: 100%;
    text-align: center;
    &__style {
        font-size: 290px;
        line-height: 404px;
        color: rgba(0, 0, 0, 0.25);
        font-family: 'CinzelDecorativeRegular';
    }
}

.big-title {
    font-family: 'CormorantInfantBold';
    font-size: 96px;
    line-height: 116px;
    text-align: center;
    color:$main-color;
    span {
        margin-right: -55px;
        font-family: 'CinzelDecorativeRegular';
        font-weight: normal;
        font-size: 144px;
        line-height: 144px;
        text-align: center;
        color: rgba(0, 0, 0, 0.42);
    }
}